<a href="https://colab.research.google.com/github/Vanluan39/baitap1/blob/main/baitap1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load library
import pandas as pd 
#create frame 
df = pd.DataFrame()
#add columns
df['Name'] = ['Lemon','Apple','Banana']
df['Price'] = [5,8,7]
df['License'] = [False,True,True]
#show data
df

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
df.shape

(3, 3)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
list(df.columns)

['Name', 'Price', 'License']

In [ ]:
df.describe()

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [ ]:
df.loc[df.Price==5]

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.loc[(df.Price==5)|(df.Name == 'Banana'),['Name','Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [ ]:
df.iloc[[2]]

     Name  Price  License
2  Banana      7     True

In [ ]:
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  Apple      8     True

In [ ]:
df.iloc[0:2,0:-1]
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
sum = df.Price.sum()
print(sum)

20

In [ ]:
max = df.Price.max()
print(max)

8

In [ ]:
count = df['Price'].count()
print (count)

3

In [ ]:
new = pd.Series(['Orange',10,True], index = ['Name', 'Price', 'License'])
#append row
df.append(new,ignore_index=True)

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3  Orange     10     True

In [ ]:
df['Location'] = ['USA','VN', 'SIN']
df

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True      SIN

In [ ]:
#delete a row
df.drop(1,axis=0).head(3)

     Name  Price  License Location
0   Lemon      5    False      USA
2  Banana      7     True      SIN

In [ ]:
#delete a column
df.drop('Location',axis=1).head()

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
#replace
df['Price'].replace(5,7).head(5)

0    7
1    8
2    7
Name: Price, dtype: int64

In [ ]:
#rename column
df.rename(columns={'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     5    False      USA
1   Apple     8     True       VN
2  Banana     7     True      SIN

In [ ]:
# load library
import pandas as pd
# create url
hy = '/content/medals.csv'
# load data
df = pd.read_csv(hy)
# show data
df.head(1000)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
995,1980,Lake Placid,Skiing,Cross Country S,URS,4x5km relay,W,Silver
996,1980,Lake Placid,Skiing,Cross Country S,URS,50km,M,Bronze
997,1980,Lake Placid,Skiing,Cross Country S,URS,50km,M,Gold
998,1980,Lake Placid,Skiing,Cross Country S,URS,5km,W,Gold
999,1980,Lake Placid,Ice Hockey,Ice Hockey,USA,ice hockey,M,Gold

In [ ]:
df.shape

(2311, 8)

In [ ]:
df.size

18488

In [ ]:
df.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
df.iloc[0:10]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [ ]:
df.iloc[[200]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [ ]:
df = df.set_index(df['NOC'])
df.loc['GER']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GER,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
GER,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
GER,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
GER,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
GER,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
GER,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver

In [ ]:
df['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
df['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
df.drop('NOC',axis=1).head(5)

,Year,City,Sport,Discipline,Event,Event gender,Medal
NOC,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,individual,M,Silver
AUT,1924,Chamonix,Skating,Figure skating,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,pairs,X,Gold
BEL,1924,Chamonix,Bobsleigh,Bobsleigh,four-man,M,Bronze
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,ice hockey,M,Gold

In [ ]:
df.drop(df.columns[2:4],axis=1).head(10)

     Year      City  NOC            Event Event gender   Medal
NOC
AUT  1924  Chamonix  AUT       individual            M  Silver
AUT  1924  Chamonix  AUT       individual            W    Gold
AUT  1924  Chamonix  AUT            pairs            X    Gold
BEL  1924  Chamonix  BEL         four-man            M  Bronze
CAN  1924  Chamonix  CAN       ice hockey            M    Gold
FIN  1924  Chamonix  FIN  military patrol            M  Silver
FIN  1924  Chamonix  FIN            pairs            X  Silver
FIN  1924  Chamonix  FIN           10000m            M    Gold
FIN  1924  Chamonix  FIN           10000m            M  Silver
FIN  1924  Chamonix  FIN            1500m            M    Gold

In [ ]:
df[df['NOC']!='CAN'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
BEL,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
FIN,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
FIN,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
FIN,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold

In [ ]:
df = pd.read_csv(hy)
df.groupby('NOC').head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2231,2006,Turin,Biathlon,Biathlon,POL,15km mass start,M,Silver
2232,2006,Turin,Skiing,Cross Country S,POL,30km,W,Bronze
2269,2006,Turin,Skiing,Snowboard,SVK,Snowboard Cross,M,Silver
2284,2006,Turin,Biathlon,Biathlon,UKR,7.5km,W,Bronze
2285,2006,Turin,Skating,Figure skating,UKR,ice dancing,X,Bronze

In [ ]:
df.groupby('NOC').count()

     Year  City  Sport  Discipline  Event  Event gender  Medal
NOC
AUS     6     6      6           6      6             6      6
AUT   185   185    185         185    185           185    185
BEL     5     5      5           5      5             5      5
BLR     6     6      6           6      6             6      6
BUL     6     6      6           6      6             6      6
CAN   119   119    119         119    119           119    119
CHN    33    33     33          33     33            33     33
CRO     7     7      7           7      7             7      7
CZE    10    10     10          10     10            10     10
DEN     1     1      1           1      1             1      1
ESP     2     2      2           2      2             2      2
EST     6     6      6           6      6             6      6
EUA    19    19     19          19     19            19     19
EUN    23    23     23          23     23            23     23
FIN   151   151    151         151    151           151    151
FRA    83    83     83          83     83            83     83
FRG    41    41     41          41     41            41     41
GBR    21    21     21          21     21            21     21
GDR   110   110    110         110    110           110    110
GER   158   158    158         158    158           158    158
HUN     6     6      6           6      6             6      6
ITA   101   101    101         101    101           101    101
JPN    32    32     32          32     32            32     32
KAZ     5     5      5           5      5             5      5
KOR    31    31     31          31     31            31     31
LAT     1     1      1           1      1             1      1
LIE     9     9      9           9      9             9      9
LUX     2     2      2           2      2             2      2
NED    78    78     78          78     78            78     78
NOR   280   280    280         280    280           280    280
NZL     1     1      1           1      1             1      1
POL     8     8      8           8      8             8      8
PRK     2     2      2           2      2             2      2
ROU     1     1      1           1      1             1      1
RUS    76    76     76          76     76            76     76
SLO     4     4      4           4      4             4      4
SUI   118   118    118         118    118           118    118
SVK     1     1      1           1      1             1      1
SWE   118   118    118         118    118           118    118
TCH    25    25     25          25     25            25     25
UKR     5     5      5           5      5             5      5
URS   194   194    194         194    194           194    194
USA   216   216    216         216    216           216    216
UZB     1     1      1           1      1             1      1
YUG     4     4      4           4      4             4      4

In [ ]:
df.groupby(['Year','NOC']).head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2291,2006,Turin,Skating,Short Track S.,USA,1000m,M,Bronze
2292,2006,Turin,Skating,Short Track S.,USA,5000m relay,M,Bronze
2293,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
2294,2006,Turin,Skating,Speed skating,USA,10000m,M,Silver
2295,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold